@charset "UTF-8";


/* reset css */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}


nav, ul, li {
  list-style:none;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  width: 450px;
  height: 270px;
}











/* common  */

.title {
  position: relative;
  margin-top: 200px;
  padding-bottom: 50px;
}

.title h2 {
  font-size: 1.75rem;
}

.title p {
  font-size: 5rem;
}

section {
  margin-bottom: 70px;
}

.wrapper {
  margin-left: 14%;
}

.kasane {
  position: absolute;
  top: 0;
  opacity: 0.5;
}

.content {
  margin-right: 40px;
  transition: 0.2s;
}

.content:hover {
  transform: scale(1.1);
  opacity: 0.8;
}








/* header */

header {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  margin: 0 13%;
}

.header-logo h1 a {
  color: #222;
  font-size: 1.125rem;
}

.header-nav nav ul {
  display: flex;
}

.header-nav nav ul li {
  padding: 0 15px;
}

.header-nav nav ul li a {
  color: #222;
  font-size: 1.125rem;
}


.home-content {
  position: relative;
  height: 670px;
}

.home-content h2 {
  font-size: 3rem;
  position: absolute;
  bottom: 0;
}










/* news */

.news-title {
  color: #3FA9F5;
}

.news-contents {
  display: flex;
}











/* blog */

.blog-title {
  color: #FCEE21;
}

.blog-contents {
  display: flex;
}










/* our service */

.service-title {
  color: #7AC943;
}

.service-contents {
  display: flex;
}

.service-content {
  margin-right: 10px;
}










/* contact */

#contact {
  margin-top: 11%;
  text-align: center;
  background-color: #333;
  padding: 8% 0;
  /* padding-bottom: 8%;  */
}

.contact-title h2 {
  color: #fff;
  margin-bottom: 1%;
  font-size: 1.5rem;
}

.contact-desc p {
  color: #fff;
}

.contact-button {
  margin-top: 4%;
}

.contact-button p a {
  background-color: #fff;
  color: #333;
  padding: 1% 4%;
  border-radius: 5px;
}

.contact-button p a:hover {
  background-color: #eee;
}